<div style="font-size: 13px; margin: 10px 5px;">
    <table class="table_a" border="1" width="100%">
        <tbody><tr style="font-weight: bold;">
                <td>序号</td><td>用户名</td>
                <td>电子邮件</td><td>性别</td><td>是否激活</td>
                <td>注册时间</td>
                <td align="center" colspan='2'>操作</td>
            </tr>
            <foreach name='info1' item='v'>
            <tr id="product_{$v.user_id}">
                <td>{$v.user_id}</td>
                <td>{$v.user_name}</td>
                <td>{$v.user_email}</td>
                <td>{$v.user_sex}</td>
                <td>{$v.user_check}</td>
              
                <td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
                
               <td><a href="javascript:;" onclick="if(confirm('确认要删除该商品么？')){del_user({$v.user_id})}">删除</a></td>
            </tr>
                
            </foreach>
            <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pagelist}
                        </td>
                    </tr>
                    <script type="text/javascript">
                    function del_user(user_id){
                        //利用ajax去服务器删除数据库记录信息
                        $.ajax({
                            url:"{:U('deluser')}",
                            data:{'user_id':user_id},
                            dataType:'json',
                            type:'get',
                            success:function(msg){
                                if(msg.status==1){
                                    $('#product_'+user_id).remove();
                                }
                            }
                        });
                    }
                    </script>
        </tbody>
    </table>
</div>